{% macro meta(page, list=false) %}
<div class="post-meta {% if list %}post-meta-list{% else %}post-meta-page{% endif %}">
        {{ posts::date(date=page.date, updated=page.updated) }}
        {% if list %}
        <div class="post-meta-title">
            <strong>@<a href="{{ page.permalink | safe }}">{{ page.title }}</a></strong>
        </div>
        {% else %}
        :: <span class="post-readtime">
            {{ page.reading_time }} min read
        </span>
        {% endif %}

        {{ posts::taxonomies(taxonomy=page.taxonomies, list=list) }}
    </div>
{% endmacro meta %}

{% macro date(date, updated) %}
    <span class="post-date">
        {%- if date -%}
            {{ date | date(format="%Y.%m.%d") }}
        {%- endif -%}
        {%- if updated -%}
            [Updated: {{ updated | date(format="%Y.%m.%d") }}]
        {%- endif -%}
    </span>
{% endmacro date %}

{% macro taxonomies(taxonomy, list) %}
    {%- if list -%}
    <div class="post-taxonomy">
    {%- else -%}
      ::
    {%- endif -%}
    {% if taxonomy.series -%}
        {{ posts::series(series=taxonomy.series) }}
        ::
    {% endif -%}
    {% if taxonomy.tags -%}
        {{ posts::tags(tags=taxonomy.tags) }}
    {% endif -%}
    {%- if list -%}
    </div>
    {%- endif -%}
{% endmacro taxonomies %}

{% macro series(series) %}
    {% for siri in series -%}
        ^<a href="{{ get_taxonomy_url(kind="series", name=siri) }}" class="post-series">{{ siri }}</a>
    {% endfor -%}
{% endmacro series %}

{% macro tags(tags) %}
    {% for tag in tags -%}
        #<a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="post-tag">{{ tag }}</a>
    {% endfor -%}
{% endmacro tags %}
